* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

input {
  border: none;
  border-bottom: 1px solid rgb(131, 131, 131);
  outline: none;
  padding: 5px;
}

header {
  display: flex;
  width: 100%;
  background-color: #add8e6;
  padding: 10px;
}

header img {
  width: 35px;
}

header nav {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

header nav > * {
  text-decoration: none;
  cursor: pointer;
}

header nav > *:hover {
  text-decoration: underline;
}

.user-msg {
  position: fixed;
  top: 70px;
  left: 10px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
}
.login-page {
  flex: 1;
  display: grid;
  place-items: center;
}

.login-page .form-container {
  text-align: center;
  padding: 40px 20px;
  border: 1px solid #add8e6;
  border-radius: 8px;
  width: 320px;
  box-shadow: 0 0 10px #add8e6;
}

.login-page .form-container form {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

.login-page .form-container form label {
  align-self: start;
  display: flex;
  align-items: center;
}
.login-page .form-container form label span:hover {
  text-decoration: none;
}

.login-page .form-container span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.admin-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin-page ul {
  width: 80vw;
}

.admin-page ul > * {
  list-style: none;
  padding: 5px;
  border-bottom: 1px solid black;
  display: flex;
}

.admin-page ul li .actions {
  align-self: end;
}

.add-movie-modal {
  width: 320px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.close-modal {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}
