* {
  box-sizing: border-box;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.menu {
  color: white;
}

.menu:hover {
  color: rgb(128, 120, 120);
}

input {
  border: none;
  border-bottom: 1px solid rgb(131, 131, 131);
  outline: none;
  padding: 5px;
  
}

header {
  position: fixed;
  z-index: 999;
  display: flex;
  width: 100%;
  background-color: black;
  padding: 10px;
}

footer {
  background-color: black;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}

header img {
  width: 35px;
}

header nav {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

header nav > * {
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

header nav > *:hover {
  text-decoration: underline;
}

.user-msg {
  position: fixed;
  top: 70px;
  left: 10px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
}

.login-page .form-container {
  margin-top: 150px;
  text-align: center;
  padding: 40px 20px;
  border: 1px solid white;
  border-radius: 8px;
  width: 320px;
  box-shadow: 10 10 100px yellow;
}

.login-page .form-container form {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

.login-page .form-container form label {
  align-self: start;
  display: flex;
  align-items: center;
}
.login-page .form-container form label span:hover {
  text-decoration: none;
}

.login-page .form-container span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.contact-us {
  margin: 100px;
}

.email {
  background: rgb(67, 67, 211);
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom: 10px;
}
.btn{
  margin-bottom: 10px;
}

.admin-page {
  background-color: rgb(255, 237, 219);
  margin-top: 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-name {
  margin-top: 40px;
  padding-left: 20px;
  margin-right: 400px;
}

#add-button {
  margin: 40px;
}

.admin-page ul {
  width: 80vw;
}

.admin-page ul > * {
  list-style: none;
  padding: 5px;
  border-bottom: 1px solid black;
  display: flex;
}

.admin-page ul li .actions {
  align-self: end;
}

.add-movie-modal {
  width: 320px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#close-modal {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.dashboard-page {
  background-color: rgb(255, 237, 219);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-page ul > * {
  list-style: none;
  padding: 5px;
}

#edit-button {
  position: absolute;
  right: 180px;
}

#delete-button {
  cursor: pointer;
  position: absolute;
  right: 100px;
}

.actions {
  margin-bottom: 100px;
}

.movie-information-name {
  margin-top: 100px;
  color: black;
  text-shadow: 2px 2px 10px gray;
  font-family: myFirstFont;
  
}

.movie-page {
  background-color: rgb(255, 237, 219);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-page {

  background-color: rgb(255, 237, 219);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: grid;
  place-items: center;
}
.contact-us{
  font-family: 'Kaushan Script', cursive;
  text-align: center;
}

.error-page {
  background-color: rgb(255, 237, 219);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: grid;
  place-items: center;
}

.login-page {
  background-color: rgb(255, 237, 219);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: grid;
  place-items: center;
}

.about-page{
  background-color: rgb(255, 237, 219);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: grid;
  place-items: center;
  column-count: 3;
}

.about-information{
  column-count: 2;
  margin-left:40px;
  margin-right:40px;
}
.home-page {
  background-image: url("netflix.jpg");
  color: gold;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.movie-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.movie-preview img {
  max-width: 300px;
  border-radius: 10%;
}

.movie-picture :hover {
  width: 250px;
}

.movie-preview a {
  color: white;
  font-weight: bold;
}

.stats {
  position: absolute;
  top: 100px;
  left: 0;
  padding: 10px;
}

#search{
  height: 35px;
  margin-bottom: 50px;
  text-align: center;
  width: 300px;
}
.map-container{
  width:  80%;
  height:  80vh;
  margin-bottom: 60px;
  border-radius: 5%;
}
.about{
  margin-top: 200px;
}
#genreButton{
  top: 50px;
  right: 0px;
  height: 35px;
  text-align: center;
  margin-bottom: 10PX;
}

.dash-infromation{
  margin-top: 100px;
}

.dash-title{

  color: black;
  text-shadow: 2px 2px 10px gray;
  text-align: center;
}