<%- include("partials/header"); -%>
admin page
<div class="container">
    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <h2>ADMIN PAGE!</h2>
                            <form action="/delete-movie" method="post">
                                <input type="text" id="delete">
                                <button type="submit">delete movie</button>
                            </form>
                            <div class="card">
                                <div class="card-header">Add a movie</div>
                                <div class="card-body">
    
                                    <form class="form-horizontal" method="post" action="/add-movie">
    
                                        <div class="form-group">
                                            <label for="title" class="cols-sm-2 control-label">Movie Title</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" name="title" id="title" placeholder="Enter the movie title" />
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="form-group">
                                            <label for="year" class="cols-sm-2 control-label">Movie Year</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" name="year" id="year" placeholder="Enter the movie year" />
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="form-group">
                                            <label for="genre" class="cols-sm-2 control-label">Movie Genre</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" name="genre" id="genre" placeholder="Enter the movie genre" />
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="description" class="cols-sm-2 control-label">Movie Description</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                    <input type="description" class="form-control" name="description" id="description" placeholder="Enter the movie description" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="imageUrl" class="cols-sm-2 control-label">Movie Image URL</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                    <input type="imageUrl" class="form-control" name="imageUrl" id="imageUrl" placeholder="Enter the movie image url" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Add Movie</button>
                                        </div>
                                    </form>
                                </div>
    
                            </div>
                        </div>
                    </div>
    </div>
    
    </body>
    </html>
<%- include("partials/footer"); -%>
