<%- include("partials/header"); -%>
    <div class="login">
        <h1>Welcome Back</h1>
        <h3>Please enter email and password to access to your account:</h3>
        <form action="/login" method="post">
            <label>Email</label>
            <input type="email" placeholder="" name ="mail" />
            <label>Password</label>
            <input type="password" placeholder="" name="pass" />
            <button id ="start"type="submit" class="start-button" >Sign In</button>
        </form>
    </div>
    <%- include("partials/footer"); -%>