<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="lib/signUpStyle.css" /><link/>
</head>
<body>
    <div class="login">
        <h1>Wellcome Back</h1>
        <h3>Please enter email and password to access to your account:</h3>
        <form>
            <label>Email</label>
            <input type="email" placeholder="" />
            <label>Password</label>
            <input type="password" placeholder="" />
            <button class="start-button" >Sign In</button>
            <input class="remember-me-button" type="checkbox"> Remember me </input>
        </form>
    </div>
    
</body>
</html>