<%- include("partials/header"); -%>
    <div class="signup">
      <h1>Ready to watch? </h1>
      <h3>Enter your email to create your account.</h3>
      <form action="/signUp" method="post" >
        <label>First Name</label>
        <input type="text" placeholder="Frst Name" name="firstName" />
        <label>Last Name</label>
        <input type="text" placeholder="Last Name"  name="lastName"/>
        <label>Email</label>
        <input type="email" placeholder="Exemple@gmail.com" name="email" />
        <label>Password</label>
        <input type="password" placeholder="Must contain [A-Z],[a-z],[0-9] ,8 Characters" name="pass"/>
        <label>Confirm Password</label>
        <input type="password" placeholder=""  name="repass"/>
        <button  id ="start" type="submit" class="start-button" >Get Started</button>
      </form>
      <%- include("partials/footer"); -%>
