<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="lib/signUpStyle.css" /><link/>
  </head>
  <body>
    <div class="signup">
      <h1>Ready to watch? </h1>
      <h3>Enter your email to create your account.</h3>
      <form>
        <label>First Name</label>
        <input type="text" placeholder="" />
        <label>Last Name</label>
        <input type="text" placeholder="" />
        <label>Email</label>
        <input type="email" placeholder="" />
        <label>Password</label>
        <input type="password" placeholder="" />
        <label>Confirm Password</label>
        <input type="password" placeholder="" />
        <button class="start-button" >Get Started</button>
      </form>
      <p>
        By clicking the Get Started button, you agree to our <br />
        <a href="#">Terms and Condition</a> and <a href="#">Policy Privacy</a>
      </p>
    </div>
  </body>
</html>

